.video-container{
	float: left;
	width: 50%;
}


.slide-container{
	width: 47%;
	margin-left: 3%;
	float: left;
}

.slide-container img{    
	display: block;
    max-width: 100%;
	width: 100%;
}

.download-container{
	float: left;
    width: 100%;
    background: #ddd;
    text-align: center;
    margin-top: 20px;
}

.download-btn{
	display: inline-block;
 	margin-right: 10px;
 	cursor: pointer;
}

.carousel-container{
	width: 100%;
	float: left;
	position: relative;
    overflow: hidden;
}


.preview-slide-container{
	background: #e6e6e6;
    padding: 15px 75px 0px 75px;
    position: relative;
    overflow: hidden;
}

.carousel-control{
	position: absolute;
    color: white;
    opacity: .9;
    font-size: 35px;
    font-weight: 100;
    line-height: 40px;
    padding: 5px;
    padding-top: 5%;
    color: #000;
    width: 40px;
    height: 100%;
    display: block;
    top: 0;
    text-align: center;
    cursor: pointer;
}

.carousel-control.next{
	left:auto;
	right: 0;
}

.carousel-container .carousel-item{
	text-align: center;
	display: none;
}

.carousel-container .carousel-item.active{
	display: block;
}

.carousel-container .slide-image img{
    width: 100px;
    cursor: pointer;
    padding: 0px 10px;
}

.carousel-container .slide-number{
	padding: 10px 0px;
	text-align: center;
}

.carousel-container .thumbnail-container{
	display: inline-block;
}